---
---

@font-face {
  font-family: Syncopate;
  font-weight: 300;
  src: url(/assets/fonts/syncopate.woff2) format("woff2");
}

@font-face {
  font-family: Syncopate;
  font-weight: 700;
  src: url(/assets/fonts/syncopate_bold.woff2) format("woff2");
}

html {
  font-family: Syncopate;
}

body {
  margin: 0;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#logotype {
  text-align: center;
  line-height: 1.4em;
  color: #fff;
  img {
    width: 8rem;
    height: 8rem;
    display: block;
    margin: 0 auto 1rem;
  }
  #title {
    line-height: 2rem;
    font-size: 2rem;
    font-weight: 700;
  }
}
